@model IEnumerable<HomeCareApp.Data.ApplicationRole>
@{
    ViewData["Title"] = "Index";
}

<h2>List of Roles </h2>

<p>
    <a class="btn btn-primary" asp-controller="Role" asp-action="CreateRole">Create Role</a>
</p>

<table id="" class="table table-bordered table table-hover">
    <thead>
        <tr>
            <th>Role Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>
                    @role.Name
                </td>
                <td>
                    @role.Description
                </td>
                <td>
                    <a asp-action="CreateRole" asp-controller="Role" asp-route-id="@role.Id">Edit</a>
                </td>
            </tr>
        }

    </tbody>
</table>