@model HomeCareApp.Core.ViewModels.LoginFormView
@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="~/images/user_avatar.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" method="post" asp-controller="Account" asp-action="Login">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" asp-for="Username" class="form-control" placeholder="Username" required autofocus>
            <input type="password" asp-for="Password" class="form-control" placeholder="Password" required>
            <div id="RememberMe" class="checkbox">
                <label>
                    <input asp-for="RememberMe" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        </form><!-- /form -->
        <a href="#" class="forgot-password">
            Forgot the password?
        </a>
        <a asp-controller="Account" asp-action="Register">Register</a>
    </div><!-- /card-container -->
</div><!-- /container -->
